* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contenedor {
  width: 100%;
  background-color: black;
}

:root {
  --color-general: #6364D5;
}

/*---------------------------------Menu------------------------------------*/

.cont-menu {
  background-color: var(--color-general);
  padding: 10px;
}

.logo {
  width: 250px;
  height: 50px;
  background-color: var(--color-general);
  padding-left: 50px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.cont-icons {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: right;
  align-items: center;
}

.icono {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
}

.menu-lista {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 100%;
  background-color: var(--color-general);
  font-size: 20px;
  padding: 5px 30px;
}

.menu-lista li {
  color: white;
  list-style: none;
}

a {
  text-decoration: none;
}

.cont-boton-sesion {
  display: flex;
  gap: 30px;
}

.boton-sesion {
  height: 30px;
  width: 120px;
  background-color: transparent;
  color: white;
  font-size: 15px;
  border: 0.5px solid white;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
  text-align: center;
}

/*---------------------------------Boton---------------------------------------------------*/

.contenedor-form{
  width: 100%;
  height: 90vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.iniciar-sesion {
  background-color: white;
  width: 30%;
  margin: 40px auto 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 30px;
  box-shadow: 5px 9px 20px 3px rgb(204, 204, 204);
  border-radius: 10px;
}


form {
  display: flex;
  width: 90%;
  flex-direction: column;
  padding: 20px;
  margin: auto;
  height: 60%;
  text-align: left;
}


input {
  border: 1px solid black;
  border-radius: 10px;
  width: 100%;
  height: 30px;
  padding: 3px 10px;
  margin-bottom: 15px;
}

.b-s {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.iniciar-sesion .boton-sesion {
  padding: 5px;
  height: 35px;
  color: white;
  border: 2px solid white;
  background-color: black;
  opacity: 0.5;
}

.iniciar-sesion .boton-sesion:hover {
  opacity: 1;
}

.iniciar-sesion {
  background-color: white;
  width: 30%;
  margin: 50px auto 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 30px;
}

form {
  display: flex;
  width: 90%;
  flex-direction: column;
  padding: 20px;
  margin: auto;
  height: 60%;
}

input {
  border: 1px solid black;
  border-radius: 10px;
  width: 100%;
  height: 30px;
  padding: 3px 10px;
  margin-bottom: 15px;
}

.b-s {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.iniciar-sesion .boton-sesion {
  padding: 5px;
  height: 35px;
  color: white;
  border: 2px solid white;
  background-color: black;
  opacity: 0.5;
}

.iniciar-sesion .boton-sesion:hover {
  opacity: 1;
}

/*----------------------------------Carrusel------------------------------------------*/

.carrusel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.imgcarrusel {
  width: 100%;
  height: 350px;
}

/*-------------------------Cartelera--------------------------*/

.bloque-cartelera {
  width: 100%;
}

.hpelis {
  color: rgb(255, 255, 255);
}

.bloque-comprar-detalles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  /* Color de fondo del overlay */
  color: white;
  transition: opacity 0.3s ease;
}

.bloque-comprar-detalles a,.comprar {
  text-decoration: none;
  text-align: center;
  width: 9em;
  color: white;
  font-size: 20px;
  margin: 10px;
  padding: 8px 20px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.bloque-comprar-detalles a:hover {
  background-color: rgba(255, 255, 255, 0.271);
}

/*-------------------------Peliculas--------------------------*/

.art-estreno {
  width: 22.5%;
  padding: 1%;
  border: 1px solid;
  border-radius: 10px;
  overflow: hidden;
  display: inline-block;
  opacity: 1;
  position: relative;
}

.conte_estreno{
  padding-left: 2rem;
}

.img-estreno {
  width: 100%;
  height: 400px;
  display: block;
  transition: transform 0.3s ease;
  border: solid var(--color-general);
}

.art-estreno:hover .bloque-comprar-detalles {
  opacity: 1;
}

/*-------------------------CuerpoCarEst--------------------------*/

.pelis-completo {
  width: 75%;
  margin-top: 50px;
}

/*-------------------------Publicidad--------------------------*/

.bloque-publicidad {
  width: 19%;
  height: 600px;
  position: fixed;
  position: absolute;
  top: 100px;
  right: 20px;
  background-color: var(--color-general);
  border-radius: 5px;
  margin-right: 40px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 1;
}

.hpubli {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 1.5em;
}

.imgpubli {
  width: 80%;
  top: 100px;
  height: 520px;
  width: 90%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

/*-------------------------CarruselFlechas--------------------------*/

ul,
li {
  list-style: none;
  white-space: nowrap;
}

li {
  display: inline;
}

.img_carrusel {
  height: 400px;
}

.contenedor_principal {
  width: 900px;
  height: 450px;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 50px;
}

.contenedor_carrusel {
  position: relative;
  height: 100%;
}

/*Para Flechas*/
.flechaIz {
  position: absolute;
  top: 40%;
  transform: translate(0, -50%);
  left: 32px;
  font-size: 50px;
  font-weight: 700;
  color: white;
  z-index: 1;
  cursor: pointer;
  margin-top: 50px;
}

.flechaDe {
  position: absolute;
  top: 40%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 50px;
  font-weight: 700;
  color: white;
  z-index: 1;
  cursor: pointer;
  margin-top: 50px;
}

.contenedor_imagenes {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid #eee;
  overflow: hidden;
  padding-bottom: 100px;
}

/*-------------------------Pie--------------------------*/

.espacio_seccion {
  padding: 70px 70px;
  
}

.pie {
  width: 100%;
  background-color: var(--color-general);
}

.f_pie_links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
  margin-bottom: 2rem;
}

.f_pie_links_div {
  width: 150px;
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: white;
}

.f_pie_links_div a {
  color: rgb(175, 175, 179);
  text-decoration: none;
  margin-left: -25px;
}

.redsocial {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.redsocial img {
  width: 25px;
  height: 25px;
  margin-left: -25px;
}

.redsocial a {
  font-size: 12px;
  line-height: 15px;
  margin: 5px 0;
  cursor: pointer;
}

.f_pie_links_div h4 {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 5px;
}

.f_pie_links_div p {
  font-size: 12px;
  line-height: 15px;
  margin: 5px 0;
  cursor: pointer;
}

.f_pie_abajo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.f_pie_abajo_links {
  display: flex;
  flex-direction: row;
}

.f_pie_abajo_links p {
  font-size: 13px;
  line-height: 15px;
  margin-left: 20px;
  color: white;
  font-weight: 600;
}

hr {
  color: white;
}

.f_pie_derechos p {
  font-size: 13px;
  line-height: 15px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

/*-------------------Asientos-----------------*/

.bloque_asientos{ 
  display: flex;
  justify-content: center;
  margin-top: 1.5%;
}

.celda{
  width: 20px;
  border: 2px solid black;
  border-radius: 5px;
  display: inline-block;
  margin: 4px;
  font-size: 10px;
  text-align: center;
  font-weight: bold;
  background-color: rgb(172, 172, 172);
}

.celda:hover{
  background-color: var(--color-general);
  color: white;
  cursor: pointer;
}

.contenedor_asientos{
  width: 60%;
  height: 500px;
  padding-top: 30px;
  padding-bottom: 10px;
  border: var(--color-general);
  background-color: rgb(199, 199, 199);
  margin: 100px;
  border-radius: 5px;
}

.contenedor_asientos h4{
  text-align: center;
  font-size: 20px;
  font-style: italic;
  letter-spacing: 5px;
  font-weight: bold;
}

.contenedor_asientos hr{
  margin-left: 100px;
  margin-right: 60px;
  color: black;
  margin-bottom: 40px;
  border-width: 6px;
}

.bloque_asientos h4{
  width: 10%;
}

/*-------------------Mas Cine-----------------*/
.c-mqc{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 50px;
}

.con-mascine-img{
  width: 40%;
  padding: 40px;
  padding-left: 50px;
  margin: auto;
  margin-top: -70px;
  cursor: pointer;
  filter: grayscale(100%)
}

.con-mascine-img img {
  width: 100%;
  height: 450px;
  border-radius: 20px;
	box-shadow: 5px 9px 20px 3px rgb(204, 204, 204);
}

.con-mascine-img:hover{
  width: 50%;
  filter: none;
  transition: all 0.5s;
}
.cont-masCine{
  width: 100%;
  height: 120vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cont-masCine h2{
  padding-top: 20px;
}

.contenido-masCine{
  width: 50%;
  padding: 50px;
  box-shadow: 5px 9px 20px 3px rgb(204, 204, 204);
  border-radius: 10px;
}
.contenido-masCine h2 {
  font-size: 40px;
  padding: 10px;
  color: rgb(58, 58, 58);
}

.contenido-masCine h2,p {
  padding-left: 25px;
}
.cont-pedido{
  padding-top: 20px;
}
.cont-pedido label {
  padding-bottom: 10px;
  text-align: left;
}
.p {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.s {
  flex-direction: column;
  padding: 0px 25px;
}

.s select {
  border: 1px black solid;
  width: 50%;
  height: 30px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}
.s select:hover {
  background-color: rgba(0, 0, 0, 0.378);
  color: white;
  box-shadow: 5px 5px 10px 0px rgb(198, 198, 198);
}
.s select option {
  text-align: center;
}
.terminos{
  padding: 20px 0 20px 0;
}
.terminos .p input {
  width: 20px;
  height: 20px;
}
.terminos .p p{
  padding-left: 20px;
}

.enviar{
  border: 1px solid black;
  padding: 5px 50px;
  font-size: 20px;
  border-radius: 20px;
  width: 200px;
  margin: auto;
  text-align: center;
  margin-top: 20px;
}
.enviar:hover {
  background-color: rgba(0, 0, 0, 0.378);
  color: white;
  box-shadow: 5px 5px 10px 0px rgb(198, 198, 198);
  justify-items: center;
}

/* ------------------------detalle de la pelicula -----------------*/

.cont-video{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  
}
.cont-video iframe{
  width: 95%;
  height: 100%;
}

.cont-dsc{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 3em;
  color: white;
  padding: 50px;
  background-color: #eeeeee4e;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}

.cont-dsc img {
  height: 500px;
}

.cont-dsc h3 {
  font-size: 2.8rem;
  font-weight: 600;
  padding-bottom: 5px;
}

.cont-dsc p{
  font-size: 1.4rem;
  line-height: 25px;
  font-family: sans-serif;
  padding-top: 30px;
  font-weight: 400;
}
.cont-dsc span{
  font-size: 1.3rem;
  font-weight: 200;
  font-style: italic;

}
*{
  scroll-behavior: smooth;
  transition: all 1s;
}

.cont-comprar{
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

}
.cont-comprar a{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.cont-comprar a:hover{
  background-color: rgba(255, 255, 255, 0.348);
}


/*-------------------Para las páginas-----------------*/

.conte_inicio {
  margin-top: 2%;
}

.conte_cupu {
  position: relative;
}

#arriba:target {
  position: absolute;
  top: 0;
}

.conte_promociones{
  width: 95%;
  padding-top: 50px;
  padding-left: 50px;
  align-items: center;
}

.conte_promociones h2{
  color: white;
  margin-bottom: 15px;
}

/*------------------peliculas----------------------*/
.contenido{
  display: none;
  padding: 20px;
}

.visible{
  display: block;
}

.cont-peli-op {
  display: flex;
  flex-direction: row;
  justify-content: end;
  border-bottom: 2px solid white;
  margin-bottom: 50px;
  padding-right: 50px;
}

.cont-peli-op button {
  width: 10rem;
  color: white;
  font-size: 30px;
  font-weight: 200;
  cursor: pointer;
  padding: 5px;
  border: none;
  background-color: transparent;
  box-shadow: none;
  margin-top: 30px;
}

.cont-peli-op button:focus{
  border-width: 5px;
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.43));
  transition: all 0.5s;
}


/*-------------------Horarios-----------------*/

.bloque_horarios{
  width: 70%;
  display: flex;
  justify-content: center;
  display: inline-block;
  margin-top: 30px;
  margin-left: 30px;
}

.contenedor_horario{
  width: 95%;
  color: white;
  gap: 20px;
  display: flex;
  margin: 20px;
}

.titulo{
  width: 100%;
  display: flex;
  gap: 20px;
}

.tipo{
  width: 50px;
  border: 2px solid white;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.horario{
  width: 200px;
  height: 30px;
  border: 2px solid red;
  border-radius: 5px;
  text-align: center;
}

.horario:hover{
  background-color: #f30000;
  color: white;
  cursor: pointer;
}

.conte_horario{
  margin-top: 100px;
  margin-left: 100px;
  width: 80%;
  display: inline-block;
}

.fechahoy{
  text-align: center;
  width: 150px;
  height: 50px;
  padding-top: 10px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
}

/*-------------------Abanico-----------------*/

.abanico_img {
  display: flex;
  height: 800px;
  gap: 4px;
  cursor: pointer;
}

.imagen_item {
  position: relative;
  overflow: hidden;
  width: 80px;
  height: 100%;
  border-radius: 20px;
  transition: all 1s;
}

.imagen_item:hover {
  opacity: 0.7;
}

.imagen_item h2 {
  font-size: 22px;
  font-weight: 500;
  color: white;
}

.imagen_item p {
  color: gray;
  font-size: 20px;
  padding-bottom: 100px;
}

.imagen_item.seleccionada {
  width: 100%;
}

.imagen_item .conte_div_desc {
  width: 98%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
}

.conte_descripcion{
  width: 100%;
}

.imagen_item.seleccionada .conte_div_desc {
  opacity: 1;
  transition: all 4s;
}

.imagen_item img {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 30%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 20px;
}

/*---------------Entradas y Precios---------------*/

.bloque-compra{
  margin: 80px;
  width: 60%;
  color:white;
}

.bloque-general{
  display: flex;
  padding: 20px;
}

.bloque-descripcion{
  width: 40%;
}

.bloque-cantidad{
  width: 50%;
 display: flex;
 flex-direction: column;
 align-items: center; 
 justify-content: center;
}

.bloque-contador{
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.bloque-contador span{
  font-size: 20px;
}

.boton{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 25px;
}

.boton:hover{
  background-color: red;
}

.cont-boton-comprar{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton-comprar{
  border-radius: 10px;
  padding: 10px;
  margin: 20px auto;
  border: solid rgb(92, 92, 92);
  background-color: transparent;
  color: white;

}

.boton-comprar:hover{
  background-color: rgba(255, 255, 255, 0.212);
  cursor: pointer;
}

.bloque_asientos_entrada{
  display: flex;
}
.pasarela-pagos {
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
}
.bloque-compra h1{
  width: 100%;
  text-align: center;
  font-size: 20px;
  padding-bottom: 20px;
}
.pasarela-pagos h2{
  text-align: center;
}

h2 {
  font-size: 24px;
  color: #333;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}